* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
}

header {
    background-color: #3868d6;
    color: #fff;
}



header ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

header li {
    list-style: none;
}

h2 {
    color: #3868d6;
}

.sobre-a-loja .container {
    display: flex;
    padding-top: 3rem;
}

.sobre-a-loja .conteudo {
    padding-left: 3rem;
    flex-direction: column;
}

.sobre-a-loja img {
    width: 27rem;
}

.sobre-a-loja h2 {
    padding-bottom: 1rem;
}

.sobre-a-loja .paragrafo-1 {
    padding-top: 3rem;
    border-top: 2px solid #3868d6;
}

.produtos h2 {
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.produtos ul {
    display: flex;
    gap: 1.5%;
    border-top: 2px solid #3868d6;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.produtos li {
    width: 23.5%;
    min-height: 30rem;
    height: auto;
    list-style: none;
    padding: 1%;
    position: relative;
    background-color: #f5f5f569;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.produtos li:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.produtos img {
    width: 15rem;
    padding-bottom: 0.8rem;
    max-width: 100%;
}

.produtos li h2 {
    max-width: 96%;
    height: 7rem;
    padding-top: 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.253);
}

.produtos li p {
    max-width: 96%;
    height: 4rem;
}

.produtos button {
    padding-top: 1rem;
    width: 91%;
    position: absolute;
    bottom: 0.5rem;
    padding: 0.3rem;
    background-color: #3868d6;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container {
        width: 100%;
        max-width: 95%;
        margin: 0 auto;
    }

    header li {
        font-size: 1.2rem;
    }

    .sobre-a-loja .container {
        display: block;
        padding-top: 3rem;
    }

    .sobre-a-loja img {
        width: 100%;
    }

    .sobre-a-loja .conteudo {
        padding-left: 0rem;
    }

    .sobre-a-loja h2 {
        padding-top: 2rem;
        font-size: 1.5rem;
    }

    .produtos h2 {
        font-size: 1.5rem;
    }

    .produtos ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5%;
        border-top: 2px solid #3868d6;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    
    .produtos li {
        width: 100%;
        height: auto;
        min-height: 40rem;
        padding: 5%;
        position: static;
        display: flex;
        flex-direction: column;
    }
    
    .produtos li:hover {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    }
    
    .produtos img {
        width: 100%;
        padding-bottom: 0.8rem;
        max-width: 100%;
    }
    
    .produtos li h2 {
        max-width: 96%;
        font-size: 2rem;
        height: 8rem;
        overflow: hidden;
        padding-top: 1.5rem;
        border-top: 1px solid rgba(0, 0, 0, 0.253);
    }
    
    .produtos li p {
        max-width: 96%;
        height: 6rem;
        font-size: 1.1rem;
        position: static;
        padding-bottom: 2rem;
        flex-grow: 1;
    }
    
    .produtos button {
        width: 100%;
        position: static;
        padding: 0.7rem;
        font-size: 1rem;
        cursor: pointer;
    }
}

@media screen and (max-width: 640px){
    .container {
        width: 100%;
        max-width: 95%;
        padding: 0 15px;
    }

    
    header h1 {
        font-size: 1.5rem;
    }

    header li {
        padding-top: 6px;
        font-size: 1rem;
    }

    .sobre-a-loja .container {
        display: block;
        padding-top: 3rem;
    }

    .sobre-a-loja img {
        width: 100%;
    }

    .sobre-a-loja h2 {
        padding-top: 2rem;
    }

    .sobre-a-loja .conteudo {
        padding-left: 0;
    }

    .produtos ul {
        display: flex;
        flex-direction: column; 
        gap: 1rem; 
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .produtos li {
        width: 100%; 
        height: auto; 
        list-style: none;
        padding: 5%;
        background-color: #f5f5f569;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
        transition: box-shadow 0.3s ease-in-out;
        display: flex;
        flex-direction: column; 
        justify-content: space-between; 
    }

    .produtos li:hover {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    }
    
    .produtos img {
        width: 100%;
        padding-bottom: 0.8rem;
        max-width: 100%;
    }
    
    .produtos li h2 {
        max-width: 96%;
        font-size: 1.2rem;
        padding-top: 1.5rem;
        border-top: 1px solid rgba(0, 0, 0, 0.253);
    }
    
    .produtos li p {
        position: static;
        max-width: 96%;
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }
    
    .produtos button {
        position: static;
        width: 100%;
        padding: 0.7rem;
        background-color: #3868d6;
        border: none;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
    }
    
}